# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
node_modules/

# Compiled output
# build

# Package files
package-lock.json

#ENV Variables
.env

#backup files
.zip
